.botonCerrar{
    background-color: rgb(175, 63, 63);
    border-color: rgba(255, 0, 0, 0);
}

.botonNuevo{
    background-color: rgb(255, 255, 255);
    border-color: rgb(215, 233, 250);
    border-radius:2px;
}


